
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
.map-container{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0%;
  }
  .map-container iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  }
  #text {
      color: black;
      font-family: 'Abril Fatface';font-size: 22px;
  }
  .body {
    z-index: 1;
  }
  .carousel slide {
    padding: 1rem;
    margin-top: 2rem;
  }
  .container {
    margin-top: 150px;
  }
  .jumbotron {
    margin-top: 150px;
  }
  .registration {
    margin-top: 100px;
  }
  .col-sm-6 {
    overflow: hidden;
  }
    .carousel-inner img {
      width: 100%;
      height: 100%;
    }

    #text {
      font-family: 'Cantata One';
      font-size: 22px;
    }

    #demo {
      width: 100%;
    }
   